

Body {
    background-color: transparent;
}

p {
margin: auto;
font-size: 12px;
}

i {
  margin: 5px;
  overflow: none;
  padding: 5px;
}

.slick-slide slick-cloned{
  width: 60vw !important;
  height: auto !important;

}
.slick-slide {
  width: 60vw !important;
  height: auto !important;
  min-width: 400px !important;

}
.slick-list {
  height: 80vh !important;
  width: 60vw !important;
  overflow: hidden !important;
  min-width: 400px !important;
  max-height: 900px;

}

.slick-track {
  /* height: 900px !important; */
  height: 100% !important;
  max-height: 800px !important;
  /* width: 900px !important; */
  min-width: 400px !important;
  /* padding: 100px 100px; */
  /* position: absolute; */
}



h3{
  text-transform: capitalize;
  font-weight: 650;
  color: turquoise;
  margin-bottom: 10px;
  margin-top: 40px;
}

.slick-slider {
 max-width: 1000px !important; 
 max-height: 800px !important;
 height: 100%;
 margin-bottom: 1rem;
 min-width: 400px !important;

 /* height: 20px !impo?rtant; */
  /* margin-left: auto; */
  /* margin-right: austo; */
}
.videoPlayer {
width: 100% !important;
height: 100% !important;
}

@media screen and (max-width: 900px) {
  .videosContainer {
  overflow: hidden;
  top: 60px;
  margin-top: 40px;
  }
 
  }


  @media screen and (max-width: 900px) {
    .Title {
   font-size: 18pt !important;
    margin-bottom: 30px;
  
    };
  }
  @media screen and (max-width: 900px) {
    .Title > p {
   font-size: 18pt !important;
  
  
    };
  }
.slick-arrow {
  position: absolute !important;
  top: 8% !important;
  display: none;
  opacity: 0;
}

.Title {
  margin-bottom: 40px;
}

.slick-dots {
  /* top: 0; */
  position: absolute;
  background-color: transparent;
 top: 3%;
  width: 120px !important;
  height: 20px !important;
margin: 5px;
left: 50%;
transform: translate(-50%);
}

.slick-dots > li {
  border: 1px solid black;
  background-color: white;
  color: turquoise;
 
}
.slick-dots > button {
  /* border: 1px solid black; */
  background-color: turquoise;
  color: turquoise;
 
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}
.slick-next {
  right: 2% !important;
}

.SkillsIcons {
  display: flex;
  flex-direction: inline;
  flex-wrap: wrap;
  /* width: 80%; */
  align-self: center;
  justify-self: center;
  text-align: center;
  justify-items: center;
  /* margin-left: 10%;
  margin-right: 10%; */
  justify-content: space-evenly;
  max-width: 600px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: turquoise !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: turquoise !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: turquoise !important;
}

.MainPageBody {
    display: flex;
    flex-direction: inline;
    height: 100vh;
}

.SkillsBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.Container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
    
}

/* .videoWrapper {
  width: 50vw;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: space-around;
  /* transition: opacity 1s ease-in-out !important; */
  /* animation: fade 1.5s ease-in-out !important; */


/* .carousel-item{
  transition: fade 1s ease-in-out;
}  */




.workBody {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* overflow: hidden; */
 
}





.videosContainer {
  /* margin-left: auto !important;
  margin-right: auto !important; */
  /* left: 50%; */
  transform: translate(0 -50%);
  width: 60vw;
  height: auto;
  align-items: center;
  align-self: center !important;
  max-height: 800px !important;
  max-width: 800px !important;
 /* aspect-ratio: 16/9 !important; */
  min-width: 400px;
  display: flex;
  position: relative;
  left: 0;
    margin-top: -20px;
  flex-direction: column;
  /* justify-content: stretch; */
  align-items: center;
  top: 8px;
  /* flex-grow: 1; */
  margin-bottom: auto;
  overflow: visible;
}



.ButtonBorder {
  text-decoration: none;
  border: 1px solid rgb(64, 224, 208);
  position: relative;
  overflow: hidden;
  max-width: 150px;
  min-width: 50px;
  width: 25%;
}

.ButtonBorder:hover {
  box-shadow: 1px 1px 25px 10px rgb(64, 224, 208, 0.4);
  background-color:darkblue;
}


.styles-module_carousel-base__3keqD  {
  width: 800px;
}
.arrow {
  font-size: 36pt;
cursor: pointer;
}

.ButtonBorder:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  max-width: 150px;
  min-width: 50px;
  width: 25%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(64, 224, 208, 0.4),
    transparent
  );
  transition: all 650ms;
}

.ButtonBorder:hover:before {
  left: 100%;
}
.ButtonBorder3 {
  text-decoration: none;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  color: turquoise;
  /* border: 1px solid rgb(64, 224, 208); */
  background: linear-gradient(180deg,gray 1.4967050150787446%,.757474 100%,.000000 100%,.000000 100%,.888787 100%);
  border-radius: 10px;
  border: 1px solid gray;
  position: relative;
  overflow: hidden;
  /* max-width: 150px; */
  width: 100px;
  height: 30px;
}

/* .ButtonBorder3:hover {
  /* box-shadow: 1px 1px 25px 10px rgb(0, 0, 139, 0.4); */
  /* background-color:darkblue; */


.ButtonBorder3:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  max-width: 150px;
  min-width: 50px;
  width: 25%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgb(0, 0, 139, 0.4),
    transparent
  );
  transition: all 650ms;
}

.ButtonBorder3:hover:before {
  left: 100%;
}


/* .ButtonBorder {
    max-width: 150px;
    min-width: 50px;
    width: 25%;
    border: 1pt solid rgb(64, 224, 208);
    justify-content: center;
    display: flex;
    align-content: center;
} */

.navButton {
  width: 25% !important;
  max-width: 150px !important;
  min-width: 50px !important;
}

.ButtonBorder2 {
  max-width: 200px;
  min-width: 50px;
  width: 150px;
  border: 1pt solid turquoise;
  justify-content: center;
  display: flex;
  align-content: center;
  position: relative;
  overflow: hidden;
}
.ButtonBorder2:hover{
    background-color:rgb(0, 0, 139);
    box-shadow: 1px 1px 25px 10px rgb(64, 224, 208, 0.4);
    
} 
/* .ButtonBorder2:hover {
  box-shadow: 1px 1px 25px 10px rgb(64, 224, 208, 0.4);
  background-color:darkblue;
} */

.ButtonBorder2:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  max-width: 150px;
  min-width: 50px;
  width: 25%;
  height: 100%;
  /* border: 1pt solid turquoise; */
  /* justify-content: center; */
  /* display: flex; */
  /* align-content: center; */
  background: linear-gradient(
    120deg,
    transparent,
    rgba(64, 224, 208, 0.4),
    transparent
  );
  transition: all 650ms;
}

.ButtonBorder2:hover:before {
  left: 100%;
}

img {
    margin-right: 30px;
}

a {
  display: flex;  
  text-align: center;
    justify-self: center;
    padding: 5px;
    margin: 5px;
}

.NavBar {
    display: flex;
    flex-direction: inline;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 40px;
    width: 100%;
    /* background-color: black; */
}

body {
    background-color: black; 
    animation: fadeInAnimation linear 3s;
  /* animation-delay: 5s; */
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  height: 100%;
}

.disabled {
  filter: grayscale(100%);
  opacity: .4;
  /* background-color: gray; */
  pointer-events: none;
}


.AboutBody {
    background-color: rgb(1, 22, 59);
    /* width: 100%;
    height: 100vh; */
    /* padding-top: 0%; */
    /* padding-bottom: 10%; */
}
.App {
  text-align: center;
  display: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height: 100vh;
}

.ButtonBorder2 p {
  font-size: 20px;
}
.ProjectsBody {   
    background-color: turquoise;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items:center;
    justify-content: space-evenly;
    padding-top:6rem;
    height: 84vh;
    overflow: auto;
    position: fixed;
    top:13%;
  
}




  .button {
  backface-visibility: hidden;
  position: relative;
  width: 100px;
  height: 30px;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: linear-gradient(180deg,gray 1.4967050150787446%,.757474 100%,.000000 100%,.000000 100%,.888787 100%);
  border-radius: 10px;
  border: 1px solid gray;
  border-width: 1px 1px 1px 1px;
  padding: 2px 2px 2px 2px;
  color: turquoise;
  font-size: 16px;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal;
  }

  .button > div {
    color: .999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
  }
  .ButtonBorder3 .buttonText {
    color: .999;
  font-size: 18px;
  font-family: Helvetica Neue;
  font-weight: 900;
  line-height: 1pt;
  font-style: normal;
  text-align: center;
  margin: auto;
  }
  .button > i {
  font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static  ;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
  .button > .ld {
    font-size: initial
  }
 
    .ImgLink {
    border: 1pt solid turquoise;
    padding: 10px;
    width: 75px;
    height: 75px;
    }

.ImgLink:hover{
  background-color: navy;
  }

  .GDPimage {
    -webkit-box-shadow: 4px 6px 15px 9px rgba(0,0,0,0.76);
    box-shadow: 4px 6px 15px 9px rgba(0,0,0,0.76);
}

p.Text {
	background: linear-gradient(-45deg, black, turquoise, black, turquoise);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: medium;
  line-height: 20px;
  text-align: center;
  background-color: white;
	/*letter-spacing: -5px;
	*/text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

p.Text2 {
	background: linear-gradient(-45deg, rgb(253, 250, 250), turquoise, rgb(250, 247, 247), turquoise);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: medium;
  line-height: 20px;
  text-align: center;
  background-color: white;
	/*letter-spacing: -5px;
	*/text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}
 
.ProjectCard {
    -webkit-box-shadow: 4px 6px 15px 9px rgba(0,0,0,0.76);
    box-shadow: 4px 6px 15px 9px rgba(0,0,0,0.76);
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    /* height: 62vh; */
    /* min-height: 350px; */
    width: 45%;
    max-width: 375px;
    min-width: 280px;
    /* border: 2px solid .080808; */
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    margin: 15px;
    aspect-ratio: 2/2.5;
}
.styles-module_item-container__a8zaY {
  min-width: 400px
}
 
.ProjectCard2 {
  -webkit-box-shadow: 4px 6px 15px 9px rgba(0,0,0,0.76);
  box-shadow: 4px 6px 15px 9px rgba(0,0,0,0.76);
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 62vh;
  width: 40%;
    max-width: 350px;
  padding-bottom: 14px;
  /* border: 2px solid .080808; */
  border-radius: 20px;
  /* justify-content: center; */
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

h1 {
    margin-bottom: 10px;
margin-top: -10px;
}


h2 {
        position: relative;
        /* top: 50%;   */
        width: 100%;
        /* margin-top: 30px; */
        /* margin-bottom: 0; */
        border-right: 2px solid rgba(255,255,255,.75);
        /* font-size: 180%; */
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        /* transform: translateY(-50%);     */
    }

    .FormBody{
      display: flex;
      justify-content:space-around;
    }

    .FormControl:valid {
      background-color: gray !important;
    }


    div.ButtonLink1 {
      margin-top: 20px;
    }
  
    
  @keyframes fadeInAnimation {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
       }
  }
    
    /* Animation */
    .anim-typewriter{
      /* animation-delay: 3s; */
      animation: typewriter 4s steps(44) 1s 1 normal both,                 blinkTextCursor 500ms steps(44) infinite normal;
      -webkit-animation: typewriter 4s steps(44) 1s 1 normal both,;
      animation-delay: 3s;

}
    @keyframes typewriter{
      from{width: 0;}
      to{width: 100%;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent;}
    }
